*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




/** Nav bar styling start from herer**/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* div box 1 */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/* div box 2 */
.address-first{
    font-size: 0.85rem;
    margin-left: 15px;
}

.lighttext{
    color: #cccccc;
}

.address-second{
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon{
    display: flex;
    align-items: center;
}

.nav-address{
    margin-left: 5px;
}


/* div box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    height: 40px;
    width: 620px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: start;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.serach-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fda533;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}


/* div box 4 */
.navbar-span{
    font-size: 0.80rem;
}

.nav-second{
    font-size: 0.90rem;
    font-weight: 650;
}


/* div box 5 */
.nav-cart{
    font-size: 1.1rem;
    font-weight: 650;
}

.nav-cart i{
    font-size: 30px;
}




/** Panels styling start from here**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p{
    display: inline;
    margin: 12px;
}

.panel-options{
    width: 78%;
    font-size: 0.90rem;
}

.panel-deals{
    font-size: 0.90rem;
    font-weight: 650;
}




/** Hero section **/
.hero-section{
    background-image: url(/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90rem;
    width: 95%;
    margin-bottom: 22px;
}
/* for vertically center align-items : center*/
/* for horizontally center justify-content : center*/

.hero-msg a {
color: #007185;
}



/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin-top: 2rem;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
color: #007185;
margin-top: 1.5rem;
}

.see-more{
    cursor: pointer;
}



/* footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    cursor: pointer;
}

.foot-panel1 a{
    text-decoration: none;
    color: white;
}

.foot-panel2{
    display: flex;
    justify-content: center;
    background-color: #222f3d;
}
.foot-panel2-1{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

ul{
    margin-top: 25px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul p{
    font-size: 1.18rem;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid rgb(236, 228, 228);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.pages a{
    text-decoration: none;
    color: white;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}

.pages{
    padding-top: 22px;
}

.copyrights{
    margin-top: 8px;
}